<h1 class="title-van">Find your ideal campervan</h1>
<!-- Search box start -->
<div class="form-search" id="form-search-van-index">

        <%= form_tag vans_path, class: "growing-search-bar", method: :get do %>

        <div class="form-search-input">
          <%= text_field_tag :query,
           params[:query],
           placeholder: "Enter a destination",
           class: "multi_form_searh_element"
          %>
          <%= text_field_tag :distance,
           params[:distance],
           placeholder: "search radius (km)",
           class: "multi_form_searh_element"
          %>
          <%= text_field_tag :sleep_capacity,
           params[:sleep_capacity],
           placeholder: "min sleeping capacity",
           class: "multi_form_searh_element"
          %>
        </div>

        <div class="form-search-btn">
          <%= submit_tag "Search", class: "btn-van-list btn-search" %>
        </div>

      <% end %>

    </div>
<!-- Search box end -->

<!-- Cards container -->
  <div class="content">
    <div class="cards">
      <% @vans.each do |van| %>
      <%= link_to van_path(van) do  %>
      <div class="card-trip">
        <div class="card-trip-top">
          <%= cl_image_tag van.photo, class: "card-trip-top-image" %>
               <div class="title-text">
                <%= van.title%>
                </div>
                 <div>
                  <%= cl_image_tag van.user.photo.url(:bright_face), height: 40, class: "card-trip-top-avatar" %>
                 </div>
               </div>
              <div class="card-trip-infos">
             <%= van.van_model%><% van.sleeping_capacity.times do  %>👤
            <% end %>
            <div>
            <%= van.address.split[-1] %>

            </div>
          </div>
          <h2 class="card-trip-pricing">
          <%=van.price %>€/per night
         </h2>
        </div>
      <% end %>

     <% end %>

  <div
    id="map"
      style="
      width: 400px;
     height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
 </div>
</div>

