<div class="container">

  <div class="form-general">

      <h1>Upload a van for renting</h1>

      <div class="form-inputs">
        <%= simple_form_for @van do |f| %>
          <%= f.input :title %>
          <%= f.input :van_model %>
          <%= f.input :sleeping_capacity %>
          <%= f.input :description %>
          <%= f.input :price,  label: "Price per night"  %>
          <p class="text-danger" >
            <% if @van.errors %>
              <%= @van.errors.messages[:geo][0] %>
            <% end %>
          </p>
          <%= f.input :address %>
      </div>

        <div class="van-image-upload">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.submit "Create your listing", class: 'btn-van-list' %>
        </div>
      <% end %>
  </div>

</div>
