
<div class="container">



  <div class="van-details">
    <div class="header">
      <div>
        <h2><%= @van.title %></h2>
        <span class="font-weight-light address"> <p ><%= @van.address %></p></span>


        <div class="van_summary">
          <span class="czm8crp"><%= @van.van_model %> </span>
          <span class="aria-hidden="true> · </span>
          <span class="czm8crp"> <%= @van.sleeping_capacity %> persons </span>
          <span class="aria-hidden="true> · </span>
          <span class="czm8crp"> <%= @van.price_cents %>€/per night </span>
        </div>
      </div>
      <!--       if photo.exists? -->
      <div><%= (cl_image_tag @van.user.photo, class: 'avatar') if @van.user.photo %></div>
    </div>

    %= simple_form_for (@bookings) do |f| %>
    <%= f.input :start_date, :end_date, as: :date_time_picker%>
    <%= f.input :pax, input_html: {class: "beautiful-dropdown" }, include_hidden: false
    %>
    <%= f.submit "Reserve", class: "btn btn-primary" %>

    <div class="van_description">
      <span>van description</span>
      <span> <%= @van.description %></span>
    </div>

  </div>
</div>
