<div class="form-title">
  <h2 >Sign up</h2>
  <hr>
</div>

<div class="form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-input">
    <%= f.input :first_name, class: "form-input-field" %>
    <%= f.input :last_name, class: "form-input-field" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, class: "form-input-field" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" }, class: "form-input-field" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }, class: "form-input-field" %>
    <%= f.input :bio, class: "form-input-field" %>


      <%= f.input :photo, as: :file, id: "output", input_html: { onchange: "loadFile(event)" } %>
      <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit, "Sign up", class: "btn-van-list" %>
<% end %>

  <span class="btn-van-list form-shared-links">
    <%= render "devise/shared/links" %>
  </span>
  </div>
</div>
