<% if current_user.present? %>
<div class="background-white">

  <div class="container">

    <div class="mb-3 profile-content">
      <div>
        <h1> Hi, I'm <%= current_user.first_name %></h1>
        <p> <em>Joined in <%= current_user.created_at.year %></em></p>
      </div>
      <div class="profile-picture">
        <%= cl_image_tag(current_user.photo.url(:avatar), fetch_format: :auto) %>
      </div>
    </div>

    <div class=" py-4 ">
      <div class="mb-3 quote">
        <%= image_tag "quote-grey.png", alt: "quote", width: 30 %>
      </div>
      <div class="">
        <p><%= current_user.bio %></p>
      </div>
      <div class= "divider"></div>
    </div>

    <h4>My listed campervans:</h4>
    <hr>

    <% if current_user.vans  %>

      <% current_user.vans.each do |van| %>
        <%= link_to van_path(van), class: "no-link_style" do %>
            <div class="myvan-card-product">
                 <%= cl_image_tag(van.photo, width: 200, crop: :scale, fetch_format: :auto) %>
                 <div class="myvan-card-product-info ">
                    <h6 class="font-weight-light" > <%= van.title %> </h6>
                      <div class="van_summary">
                        <p> <%= van.van_model %> · <%= van.sleeping_capacity %> persons · <%= van.price %>€/per night</p>
                      </div>
                </div>
            </div>
        <% end %>
      <% end %>

    <% else %>
      <p class="font-weight-light">You don't have a van for rent yet, like to add one? </p>
    <% end %>

    <div class="btn-van-list small">
      <%= link_to "Add a van", new_van_path%>
    </div>

  </div>

  <% end %>

</div>

